{minimum_otp_vsn, "22.0"}.

{erl_opts, [debug_info
           ]
}.

{extra_src_dirs, [{"test", [{recursive, true}]}]}.

{deps, [
        {uuidv4, "1.0.0"},
        {jsone, "1.5.5"},
        {recon, "2.5.1"},
        {elli, "3.3.0"}
       ]}.

{shell, [
         {config, "test/stubs/sys.config"},
         {apps, [rtrace]}
]}.

{edoc_opts, [{dir, "docs"}, {preprocess, true}]}.

{project_plugins, [{rebar3_lint, "0.1.11"}, {rebar3_check_deps, "0.1.0"}]}.

{plugins, [
          ]}.

{provider_hooks, [
                  {pre, [
                        ]},
                  {post, [
                         ]}
                 ]}.


{cover_enabled, true}.
{cover_export_enabled, true}.

%% xref configurations
{xref_checks,[undefined_function_calls, undefined_functions,
              deprecated_function_calls, deprecated_functions]}.

{profiles, [
            {test, [{deps, [
                            {meck, "0.9.0"}
                           ]}
                   ]}
]}.
