[
 %% SASL config
 {sasl, [
         {sasl_error_logger, false},
         {errlog_type, error},
         {error_logger_mf_dir, "/tmp/rtrace/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 10}           % 5 files max
        ]},
 {kernel,[
          {logger_level, info},
          {logger,
           [{handler, default, logger_disk_log_h,  % {handler, HandlerId, Module,
             #{config => #{
                           file => "/tmp/rtrace/rtrace.log",
                           type => wrap,
                           max_no_files => 5,
                           max_no_bytes => 10485760
                          }, % config
               formatter => {logger_formatter,
                             #{
                               legacy_header => false,
                               single_line => true,
                               time_offset => 0 %% UTC time
                              } %% formatter options
                            } %% formatter
              }
            }  % default handler
           ]}
         ]}
].
